n8n_posponer_fix.json
{
  "name": "Posponer_Tareas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tareas-posponer",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a1b2c3d4-1111-4aaa-b111-000000000001",
      "name": "Webhook Posponer",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        340
      ],
      "webhookId": "tareas-posponer"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-id-check",
              "leftValue": "={{ $json.body.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cond-fecha-check",
              "leftValue": "={{ $json.body.nueva_fecha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-2222-4aaa-b222-000000000002",
      "name": "Validar Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        340
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": false,\n  \"error\": \"faltan_campos_id_o_nueva_fecha\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-3333-4aaa-b333-000000000003",
      "name": "Error Validacion",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        740,
        540
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI",
          "mode": "list",
          "cachedResultName": "Control_IPM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1404161276,
          "mode": "list",
          "cachedResultName": "tareas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit#gid=1404161276"
        },
        "options": {}
      },
      "id": "a1b2c3d4-4444-4aaa-b444-000000000004",
      "name": "Leer Tareas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        740,
        340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U9MmYhXUgVdOQej5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const idBuscado = $('Webhook Posponer').first().json.body.id;\nconst nuevaFecha = $('Webhook Posponer').first().json.body.nueva_fecha;\nconst filas = $input.all().map(item => item.json);\nconst tarea = filas.find(f => String(f.id).trim() === String(idBuscado).trim());\nif (!tarea) {\n  throw new Error('tarea_no_encontrada');\n}\nreturn [{\n  json: {\n    id: tarea.id,\n    nueva_fecha: nuevaFecha,\n    row_number: tarea.row_number\n  }\n}];"
      },
      "id": "a1b2c3d4-5555-4aaa-b555-000000000005",
      "name": "Buscar y Preparar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        340
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI",
          "mode": "list",
          "cachedResultName": "Control_IPM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1404161276,
          "mode": "list",
          "cachedResultName": "tareas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit#gid=1404161276"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "fecha": "={{ $json.nueva_fecha }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a1b2c3d4-6666-4aaa-b666-000000000006",
      "name": "Actualizar Fecha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1220,
        340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U9MmYhXUgVdOQej5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true\n}",
        "options": {}
      },
      "id": "a1b2c3d4-7777-4aaa-b777-000000000007",
      "name": "Respuesta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1460,
        340
      ]
    }
  ],
  "connections": {
    "Webhook Posponer": {
      "main": [
        [
          {
            "node": "Validar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Input": {
      "main": [
        [
          {
            "node": "Leer Tareas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Validacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Tareas": {
      "main": [
        [
          {
            "node": "Buscar y Preparar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar y Preparar": {
      "main": [
        [
          {
            "node": "Actualizar Fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Fecha": {
      "main": [
        [
          {
            "node": "Respuesta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": ""
  },
  "tags": []
}