n8n_crear_tarea.json
{
  "name": "Crear_Tarea",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tareas-crear",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "ct000001-1111-4aaa-b111-000000000001",
      "name": "Webhook Crear",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [260, 340],
      "webhookId": "tareas-crear"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-tarea-check",
              "leftValue": "={{ $json.body.tarea }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cond-zona-check",
              "leftValue": "={{ $json.body.zona }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cond-fecha-check",
              "leftValue": "={{ $json.body.fecha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ct000001-2222-4aaa-b222-000000000002",
      "name": "Validar Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 340]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": false,\n  \"error\": \"faltan_campos_requeridos\",\n  \"mensaje\": \"Los campos tarea, zona y fecha son obligatorios\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "ct000001-3333-4aaa-b333-000000000003",
      "name": "Error Validacion",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [740, 540]
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook Crear').first().json.body;\n\n// Generar ID único basado en timestamp\nconst id = 'T' + Date.now();\n\n// Campos de la nueva tarea\nconst tarea = String(body.tarea || '').trim();\nconst zona = String(body.zona || '').trim().toLowerCase();\nconst prioridad = String(body.prioridad || 'media').trim().toLowerCase();\nconst fecha = String(body.fecha || '').trim();\nconst observaciones = String(body.observaciones || '').trim();\n\nreturn [{\n  json: {\n    id,\n    tarea,\n    zona,\n    prioridad,\n    fecha,\n    observaciones,\n    recurrente: '',\n    dia_recurrencia: ''\n  }\n}];"
      },
      "id": "ct000001-4444-4aaa-b444-000000000004",
      "name": "Preparar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 340]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI",
          "mode": "list",
          "cachedResultName": "Control_IPM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1404161276,
          "mode": "list",
          "cachedResultName": "tareas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit#gid=1404161276"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "tarea": "={{ $json.tarea }}",
            "zona": "={{ $json.zona }}",
            "prioridad": "={{ $json.prioridad }}",
            "fecha": "={{ $json.fecha }}",
            "observaciones": "={{ $json.observaciones }}",
            "recurrente": "={{ $json.recurrente }}",
            "dia_recurrencia": "={{ $json.dia_recurrencia }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tarea",
              "displayName": "tarea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "zona",
              "displayName": "zona",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "observaciones",
              "displayName": "observaciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "recurrente",
              "displayName": "recurrente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "dia_recurrencia",
              "displayName": "dia_recurrencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "ct000001-5555-4aaa-b555-000000000005",
      "name": "Agregar Tarea",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [980, 340],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U9MmYhXUgVdOQej5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"mensaje\": \"Tarea creada correctamente\",\n  \"id\": \"{{ $('Preparar Datos').first().json.id }}\"\n}",
        "options": {}
      },
      "id": "ct000001-6666-4aaa-b666-000000000006",
      "name": "Respuesta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1220, 340]
    }
  ],
  "connections": {
    "Webhook Crear": {
      "main": [
        [
          {
            "node": "Validar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Input": {
      "main": [
        [
          {
            "node": "Preparar Datos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Validacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos": {
      "main": [
        [
          {
            "node": "Agregar Tarea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Tarea": {
      "main": [
        [
          {
            "node": "Respuesta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": ""
  },
  "tags": []
}
