Configuraciones workflows n8n/n8n_cron_recurrentes.json
{
  "name": "Cron Tareas Recurrentes",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000001",
      "name": "Cron Diario 6AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI",
          "mode": "list",
          "cachedResultName": "Control_IPM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1626272047,
          "mode": "list",
          "cachedResultName": "tareas_recurrentes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit#gid=1626272047"
        },
        "options": {}
      },
      "id": "a1b2c3d4-2222-4aaa-bbbb-000000000002",
      "name": "Leer Plantillas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [220, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U9MmYhXUgVdOQej5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI",
          "mode": "list",
          "cachedResultName": "Control_IPM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1404161276,
          "mode": "list",
          "cachedResultName": "tareas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit#gid=1404161276"
        },
        "options": {}
      },
      "id": "a1b2c3d4-3333-4aaa-bbbb-000000000003",
      "name": "Leer Tareas Existentes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [440, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U9MmYhXUgVdOQej5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Usar DateTime (Luxon) para timezone correcto (Europa/Madrid)\nconst ahora = DateTime.now().setZone('Europe/Madrid');\nconst diasSemana = ['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'];\nconst diaHoy = diasSemana[ahora.weekday % 7]; // Luxon: 1=lunes...7=domingo\nconst fechaHoy = ahora.toFormat('yyyy-MM-dd');\n\n// Luxon weekday: 1=lunes, 2=martes, ..., 7=domingo\n// Nuestro array: 0=domingo, 1=lunes, ..., 6=sabado\nconst diaLuxon = ahora.weekday === 7 ? 'domingo' : diasSemana[ahora.weekday];\n\nconst plantillas = $('Leer Plantillas').all().map(item => item.json);\nconst tareasExistentes = $('Leer Tareas Existentes').all().map(item => item.json);\n\n// Filtrar plantillas activas que aplican hoy\n// Soporta dias multiples: \"lunes,miercoles,viernes\"\nconst plantillasHoy = plantillas.filter(p => {\n  const activa = String(p.activa || '').trim().toLowerCase();\n  if (activa !== 'si') return false;\n  \n  const diasConfig = String(p.dia_recurrencia || '').trim().toLowerCase();\n  // Soportar multiples dias separados por coma\n  const diasArray = diasConfig.split(',').map(d => d.trim());\n  return diasArray.includes(diaLuxon);\n});\n\nif (plantillasHoy.length === 0) {\n  // Retornar item informativo para logging en n8n\n  return [{ json: { _skip: true, mensaje: `Sin plantillas para ${diaLuxon} (${fechaHoy})` } }];\n}\n\n// Verificar duplicados: misma tarea + zona + fecha de hoy\nconst nuevas = plantillasHoy.filter(p => {\n  const yaExiste = tareasExistentes.some(t => {\n    return String(t.tarea || '').trim().toLowerCase() === String(p.tarea || '').trim().toLowerCase()\n      && String(t.zona || '').trim().toLowerCase() === String(p.zona || '').trim().toLowerCase()\n      && String(t.fecha || '').trim() === fechaHoy\n      && String(t.estado || '').trim().toLowerCase() !== 'hecha';\n  });\n  return !yaExiste;\n});\n\nif (nuevas.length === 0) {\n  return [{ json: { _skip: true, mensaje: `Todas las tareas de ${diaLuxon} ya existen para ${fechaHoy}` } }];\n}\n\n// Generar IDs incrementales\nlet maxId = 0;\nfor (const t of tareasExistentes) {\n  const id = parseInt(t.id);\n  if (!isNaN(id) && id > maxId) maxId = id;\n}\n\nreturn nuevas.map((p, i) => ({\n  json: {\n    id: String(maxId + 1 + i),\n    zona: p.zona || '',\n    tarea: p.tarea || '',\n    prioridad: p.prioridad || 'media',\n    estado: 'pendiente',\n    fecha: fechaHoy,\n    recurrente: 'si',\n    dia_recurrencia: p.dia_recurrencia || '',\n    observaciones: p.observaciones || ''\n  }\n}));"
      },
      "id": "a1b2c3d4-4444-4aaa-bbbb-000000000004",
      "name": "Filtrar y Generar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json._skip }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "notTrue",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-6666-4aaa-bbbb-000000000006",
      "name": "Hay Tareas Nuevas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI",
          "mode": "list",
          "cachedResultName": "Control_IPM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1404161276,
          "mode": "list",
          "cachedResultName": "tareas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit#gid=1404161276"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "zona": "={{ $json.zona }}",
            "tarea": "={{ $json.tarea }}",
            "prioridad": "={{ $json.prioridad }}",
            "estado": "={{ $json.estado }}",
            "fecha": "={{ $json.fecha }}",
            "recurrente": "={{ $json.recurrente }}",
            "dia_recurrencia": "={{ $json.dia_recurrencia }}",
            "observaciones": "={{ $json.observaciones }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "id", "displayName": "id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "zona", "displayName": "zona", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "tarea", "displayName": "tarea", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "prioridad", "displayName": "prioridad", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "estado", "displayName": "estado", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "fecha", "displayName": "fecha", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "recurrente", "displayName": "recurrente", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "dia_recurrencia", "displayName": "dia_recurrencia", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "observaciones", "displayName": "observaciones", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a1b2c3d4-5555-4aaa-bbbb-000000000005",
      "name": "Crear Tareas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1100, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U9MmYhXUgVdOQej5",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Cron Diario 6AM": {
      "main": [
        [
          {
            "node": "Leer Plantillas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Plantillas": {
      "main": [
        [
          {
            "node": "Leer Tareas Existentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Tareas Existentes": {
      "main": [
        [
          {
            "node": "Filtrar y Generar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar y Generar": {
      "main": [
        [
          {
            "node": "Hay Tareas Nuevas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Tareas Nuevas": {
      "main": [
        [
          {
            "node": "Crear Tareas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2",
  "meta": {
    "instanceId": "cuttingsclones"
  },
  "tags": []
}