Configuraciones workflows n8n/n8n_compras_eliminar.json
{
  "name": "Compras_Eliminar",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "compras-eliminar",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "ce000001-1111-4aaa-b111-000000000001",
      "name": "Webhook Eliminar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [260, 340],
      "webhookId": "compras-eliminar"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI",
          "mode": "list",
          "cachedResultName": "Control_IPM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 396906245,
          "mode": "list",
          "cachedResultName": "compras",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit#gid=396906245"
        },
        "options": {}
      },
      "id": "ce000001-2222-4aaa-b222-000000000002",
      "name": "Leer Compras",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [500, 340],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U9MmYhXUgVdOQej5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const idBuscado = $('Webhook Eliminar').first().json.body.id;\nconst filas = $input.all().map(i => i.json);\nconst item = filas.find(f => String(f.id || '').trim() === String(idBuscado || '').trim());\nif (!item) return [{ json: { encontrado: false } }];\nreturn [{ json: { encontrado: true, id: item.id, estado: 'comprado' } }];"
      },
      "id": "ce000001-3333-4aaa-b333-000000000003",
      "name": "Buscar Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 340]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI",
          "mode": "list",
          "cachedResultName": "Control_IPM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 396906245,
          "mode": "list",
          "cachedResultName": "compras",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit#gid=396906245"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "estado": "={{ $json.estado }}"
          },
          "matchingColumns": ["id"],
          "schema": [
            { "id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "estado", "displayName": "estado", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ce000001-4444-4aaa-b444-000000000004",
      "name": "Marcar Comprado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [980, 340],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U9MmYhXUgVdOQej5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "ce000001-5555-4aaa-b555-000000000005",
      "name": "Respuesta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1220, 340]
    }
  ],
  "connections": {
    "Webhook Eliminar": { "main": [[{ "node": "Leer Compras", "type": "main", "index": 0 }]] },
    "Leer Compras": { "main": [[{ "node": "Buscar Item", "type": "main", "index": 0 }]] },
    "Buscar Item": { "main": [[{ "node": "Marcar Comprado", "type": "main", "index": 0 }]] },
    "Marcar Comprado": { "main": [[{ "node": "Respuesta OK", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "1",
  "meta": { "instanceId": "" },
  "tags": []
}
