Configuraciones workflows n8n/n8n_posponer_fix.json
{
  "name": "Posponer_Tareas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tareas-posponer",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "a1b2c3d4-1111-4aaa-b111-000000000001",
      "name": "Webhook Posponer",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [260, 340],
      "webhookId": "tareas-posponer"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI",
          "mode": "list",
          "cachedResultName": "Control_IPM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1404161276,
          "mode": "list",
          "cachedResultName": "tareas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit#gid=1404161276"
        },
        "options": {}
      },
      "id": "a1b2c3d4-4444-4aaa-b444-000000000004",
      "name": "Leer Tareas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [500, 340],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U9MmYhXUgVdOQej5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const idBuscado = $('Webhook Posponer').first().json.body.id;\nconst nuevaFecha = $('Webhook Posponer').first().json.body.nueva_fecha;\nconst filas = $input.all().map(item => item.json);\nconst tarea = filas.find(f => String(f.id || '').trim() === String(idBuscado || '').trim());\n\nif (!tarea) {\n  return [{ json: { encontrada: false, error: 'tarea_no_encontrada' } }];\n}\n\nreturn [{ json: { encontrada: true, id: tarea.id, nueva_fecha: nuevaFecha } }];"
      },
      "id": "a1b2c3d4-5555-4aaa-b555-000000000005",
      "name": "Buscar y Preparar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-encontrada",
              "leftValue": "={{ $json.encontrada }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-8888-4aaa-b888-000000000008",
      "name": "Tarea Encontrada",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [980, 340]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": false, \"error\": \"tarea_no_encontrada\" }",
        "options": {}
      },
      "id": "a1b2c3d4-9999-4aaa-b999-000000000009",
      "name": "Error No Encontrada",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1220, 540]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI",
          "mode": "list",
          "cachedResultName": "Control_IPM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1404161276,
          "mode": "list",
          "cachedResultName": "tareas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_jk3kGPB9ukeMbhFhwgJyO3OpbWo0MY6T8ZajN7aNI/edit#gid=1404161276"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "fecha": "={{ $json.nueva_fecha }}"
          },
          "matchingColumns": ["id"],
          "schema": [
            { "id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "fecha", "displayName": "fecha", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a1b2c3d4-6666-4aaa-b666-000000000006",
      "name": "Actualizar Fecha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1220, 340],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U9MmYhXUgVdOQej5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "a1b2c3d4-7777-4aaa-b777-000000000007",
      "name": "Respuesta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1460, 340]
    }
  ],
  "connections": {
    "Webhook Posponer": {
      "main": [[{ "node": "Leer Tareas", "type": "main", "index": 0 }]]
    },
    "Leer Tareas": {
      "main": [[{ "node": "Buscar y Preparar", "type": "main", "index": 0 }]]
    },
    "Buscar y Preparar": {
      "main": [[{ "node": "Tarea Encontrada", "type": "main", "index": 0 }]]
    },
    "Tarea Encontrada": {
      "main": [
        [{ "node": "Actualizar Fecha", "type": "main", "index": 0 }],
        [{ "node": "Error No Encontrada", "type": "main", "index": 0 }]
      ]
    },
    "Actualizar Fecha": {
      "main": [[{ "node": "Respuesta OK", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "3",
  "meta": { "instanceId": "" },
  "tags": []
}
